.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

.fullwidth{
    display: flex;
    margin-top: 64px;
    align-items: center;
    flex-direction: column;

  }
 
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .signup{
    margin-top: 5%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #1976d2;
  }