<div class="fullwidth">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" #f="ngForm" class="example-form">
    <h1 style="text-align: center">Sign in</h1>
    <div style="text-align: center">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Email Address</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com" required>
      </mat-form-field>
    </div>
    <div style="text-align: center">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" id="password" name="password" formControlName="password"
          required minlength="6">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div style="text-align: center">
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!loginForm.valid" class="example-full-width">SIGN
          IN</button>
      </mat-card-actions>
    </div>
    <div style="text-align: right">
      <p (click)="gotosignup()" class='signup'>Don't have an account? Sign Up</p>
    </div>
  </form>
</div>