.example-spacer {
    flex: 1 1 auto;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 30%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 5%;
    text-align: center;
  }
 .example-container{
  width: 100%;
  margin-top: 64px;
  align-items: center;
 }
 .example-card {
  max-width:100%;
}


