<p>
  <mat-toolbar color="primary">
    <span>Social Media</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</p>
<div>

<div style="background-color: rgb(252, 252, 253);text-align: center;">
<form [formGroup]="addForm" (ngSubmit)="addpost();addForm.reset()">
    <mat-form-field class="example-full-width">
      <textarea matInput type="text" placeholder="What do you want to talk about?" name="description"
        formControlName="description"></textarea>
    </mat-form-field>

     <input type="file" multiple (change)="selectfile($event)" accept=".png,.jpg" formControlName="upload" > 

   <!--   <mat-form-field class="example-full-width">
     <input matInput type="text" placeholder="Add a photo" name="Upload" formControlName="upload" > 
    </mat-form-field>-->
    &nbsp;&nbsp;
    <button type="submit" class="btn btn-success col-xl-3 col-lg-4 col-md-4 col-sm-4 col-5"
      style="margin-right: 0.5%">Post</button>   
</form>
</div>
<div *ngFor="let post of posts" class='position_card'>
  <mat-card class="example-card">
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>      <img mat-card-image src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png"
          style="width: 500px;height: 300px;padding-left: 2%;padding-right: 2%;"></mat-grid-tile>
        <mat-grid-tile>{{post.title}} &nbsp; &nbsp; {{post.description}}</mat-grid-tile>
      </mat-grid-list>
      <div>  <p (click)="deletepost(post)" style="text-align: right;color: red;">Delete</p></div>
    </mat-card-content>

  </mat-card>
</div>
</div>